.sign-in {
  @include form;
  margin: 2rem;
}

.sign-in__title {
  margin: 0;
  margin-bottom: 1rem;
}

.sign-in__field {
  @include form__field;
}

.sign-in__label {
  @include form__label;
}

.sign-in__input {
  @include form__input;
}

%sign-in__button {
  @include form__button;
  font-size: .9rem;
}

.sign-in__submit {
  @extend %sign-in__button;
  background: $color-brand-blue;
  color: white;
}

.sign-in__reset {
  @extend %sign-in__button;
}
